*{
  box-sizing: border-box !important;
  margin: 0;
  padding: 0
}
body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif ;
    line-height: 1.5 ;
    font-weight: 400 ;
  
    color-scheme: light dark ;
    color: rgba(255, 255, 255, 0.87) ;
    background-color: #242424 ;
  
    font-synthesis: none ;
    text-rendering: optimizeLegibility ;
    -webkit-font-smoothing: antialiased ;
    -moz-osx-font-smoothing: grayscale ;
    -webkit-text-size-adjust: 100% ;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif ;
  line-height: 1.5 ;
  font-weight: 400 ;

  color-scheme: light dark ;
  color: rgba(255, 255, 255, 0.87) ;
  background-color: #242424 ;

  font-synthesis: none ;
  text-rendering: optimizeLegibility ;
  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale ;
  -webkit-text-size-adjust: 100% ;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: rgb(54, 54, 54);
  padding: 15px;
}

h1 {
  font-size: 3.2em ;
  line-height: 1.1 ;
}

button {
  border-radius: 8px ;
  border: 1px solid transparent ;
  padding: 0.6em 1.2em ;
  font-size: 1em ;
  font-weight: 500 ;
  font-family: inherit ;
  background-color: #1a1a1a ;
  cursor: pointer ;
  transition: border-color 0.25s ;
}
button:hover {
  border-color: #646cff ;
}
button:focus ,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color ;
}

.toast-alert{
  background: linear-gradient(to right, #b08700, #c93d3d);
}


.listado {
  display: flex;
  align-items: center;
  place-content: center;
}

.card {
  width: 600px;

}

.titulo {
  font-size: larger;
}

.precio {
  font-size: large;
}
.stock {
  font-size: medium;
}

.descripcion {
  text-align: justify;
  font-size: small;
}

/* ---------------------------------- FORM ---------------------------------- */

.box {
  margin-top: 50px;
  position:relative;
  width: 600px;
  height: 800px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.box::before{
  width: 600px;
  height: 800px;
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,transparent,#0490ee,#0490ee,#0490ee);
  z-index: 1;
  animation: animte 6s linear infinite;
}

.box::after {
  width: 600px;
  height: 800px;
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,transparent,#0490ee,#0490ee,#0490ee);
  z-index: 1;
  animation: animte 6s linear infinite;
  animation-delay: -3s;
}

.borderLine {
  position: absolute;
  top: 0;
  inset: 0;
}

.borderLine:before {
  width: 600px;
  height: 800px;
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,transparent,#cfee04,#cfee04,#cfee04);
  z-index: 1;
  animation: animte 6s linear infinite;
  animation-delay: -1.5s;
}

.borderLine:after {
  width: 600px;
  height: 800px;
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,transparent,#cfee04,#cfee04,#cfee04);
  z-index: 1;
  animation: animte 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animte{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.box form {
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;
}

.box form .inputBox {
  position: relative;
  width: 500px;
  margin-top: 15px;
}

.box form .inputBox input {
  position: relative;
  width: 100%;
  margin: 2px;
  padding: 20px 10px 10px;
  background-color: #8f8f8f;
  border-radius: 8px;
  color: #030303;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 5;
  border: none;
}


.box form input[type='submit']{
  border: none;
  outline: none;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  width: 300px;
  margin-top: 50px;
  font-weight: 600;
}

.box form input[type='submit']:active{
  opacity: 1;
}

.formulario {
  display: flex;
  place-content: center;
}

.anuncio {
  z-index: 10;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;
}

.swal-overlay {
  background-color: rgba(92, 167, 149, 0.45);
}